.app-section {
    position: relative;
    overflow: hidden;
}
.app-section-wrapper {
    width: 90%;
    max-width: 1120px;
    margin: 0 auto;
    position: relative;   
    padding-bottom: 54px;     
}
.heading-grey {
    font-size: 30px;
    text-transform: uppercase;
    color: #4d4d4f;
    font-family: 'museo_sans_cyrl700', sans-serif;
}
.heading-grey__margin40 {
    margin-bottom: 40px;
}
.dark-grey-text{
color:#4b4b4b;
font-family: 'museo_sans_cyrl300', sans-serif;
font-size: 20px;
line-height: 30px;
}
.app-section__square {
    position: absolute;
    transform: rotate(45deg);
    width: 25px;
    height: 25px;
    background-color:#ee322d;
    bottom: 0px;
    left: 25%;
    @media (max-width: 720px) {
        display: none;
    }
}
.app-raw {
    display: flex;
    justify-content: space-between;
    align-items: top;
    padding: 25px 0px 50px 0px;
    @media (max-width: 830px) {
        flex-direction: column;
    }
}
.list-type-square {
    list-style-type: none;
    padding: 20px 0px 0px 34px;
}
.list-type-square__item{
    position: relative;
    margin-bottom: 5px;
}
.list-type-square__item::before {
    content: ' ';
    display: block;
    width: 10px;
    height: 10px;
    background-color: #ee322d;
    position: absolute;
    top: 32%;
    left: -30px;
}
.red-text {
    color: #ee322d;
}
.app-raw-img-box {
    padding: 0px 14% 0 17%;
    position: relative;
    width: 187px;
    @media (max-width: 830px) {
        order: -1;
        padding-bottom: 42px;
        margin: 0 auto;
    }
}
.img-shadow{
    box-shadow: 30px 40px 27px -5px rgba(0,0,0,.24);
    border-radius: 23px;
    position: relative;
    z-index: 3;
}
.app-raw-text {
    padding: 25px 0 0 0;
}
.app-raw-img-box__frame {
    position: absolute;
    border: 5px solid #ee322d;
    width: 337px;
    height: 94%;
    top: 71px;
    right: 7%;
    z-index: 2;
    @media (max-width: 1160px) {
        right: 6%;
    }
    @media (max-width: 970px) {
        right: 5%;
    }
    @media (max-width: 830px) {
        display: none;
    }
}
.app-raw-img-box__square  {
    position: absolute;
    width: 35px;
    height: 35px;
    background-color: #ee322d;
    top: -40px;
    right: -40px;
    @media (max-width: 720px) {
        display: none;
    }
}
.app-section__square-left {
    position: absolute;
    transform: rotate(45deg);
    width: 80px;
    height: 80px;
    background-color: #ee322d;
    top: 710px;
    left: -47px;
    @media (max-width: 720px) {
        display: none;
    }
}
.app-section__square-right {
    position: absolute;
    transform: rotate(45deg);
    width: 37px;
    height: 37px;
    background-color: #ee322d;
    top: 1144px;
    right: -15px;
    @media (max-width: 720px) {
        display: none;
    }
}
.app-section__square-center {
    position: absolute;
    transform: rotate(74deg);
    width: 22px;
    height: 22px;
    background-color: #ee322d;
    top: 1284px;
    right: 605px;
    @media (max-width: 720px) {
        display: none;
    }
}