.footer {
    width: 95%;
    max-width: 1194px;
    padding-left: 15px;
    box-sizing: border-box;
    margin: 30px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.copyrights {
    color: #4b4b4b;
    font-size: 14px;
    font-family: 'museo_sans_cyrl300';
}