@import 'reset.scss';

@font-face {
    font-family: 'museo_sans_cyrl100';
    src: url('../fonts/museosanscyrl-webfont.woff2') format('woff2'),
         url('../fonts/museosanscyrl-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'museo_sans_cyrl300';
    src: url('../fonts/museosanscyrl_0-webfont.woff2') format('woff2'),
         url('../fonts/museosanscyrl_0-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'museo_sans_cyrl500';
    src: url('../fonts/museosanscyrl_1-webfont.woff2') format('woff2'),
         url('../fonts/museosanscyrl_1-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'museo_sans_cyrl700';
    src: url('../fonts/museosanscyrl_2-webfont.woff2') format('woff2'),
         url('../fonts/museosanscyrl_2-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'museo_sans_cyrl900';
    src: url('../fonts/museosanscyrl_3-webfont.woff2') format('woff2'),
         url('../fonts/museosanscyrl_3-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    font-family: 'museo_sans_cyrl100', sans-serif;
}
.inline-list {
    list-style-type: none;
}
.clearfix:after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    }
$red-color: #ee322d;

@import "title-section";
@import "statistic-section";
@import "screenshots-section";
@import "app-section";
@import "quote-section";
@import "platforms-section";
@import "infografic-section";
@import "slider-section";
@import "cta-section";
@import "footer";
