section.app-section
    .app-section-wrapper
        h3.heading-grey.heading-grey__margin40 The app
        p.dark-grey-text.
            Our client wanted a mobile solution that would 
            cater to everything their guests could possibly 
            need from locating the nearest cinema and checking 
            movie showtimes to buying tickets from the palm of 
            their hands. We developed a superior yet simple 
            mobile experience that is smooth and intuitive. 
            The Multiplex app is extremely handy whether you 
            just want to discover new movies or get tickets 
            skipping the lines in theaters.
        .app-section__square
    .app-section-wrapper
        .app-raw
            .app-raw-text
                h3.heading-grey.heading-grey__margin40 No hassling with paper tickets
                ul.dark-grey-text.list-type-square
                    li.list-type-square__item Search for cinema locations
                    li.list-type-square__item Select your favourite seats
                    li.list-type-square__item Purchase tickets right from the app with the credit card
                    li.list-type-square__item Fast and simple checkout with Masterpass
                        span.red-text **
                    li.list-type-square__item Return tickets in one click
                    li.list-type-square__item The barcode can be scanned directly from the phone
                    li.list-type-square__item  All tickets are stored in the app and in Wallet
                        span.red-text *
            .app-raw-img-box
                img.img-shadow(src="img/phone1.png", alt="")
                .app-raw-img-box__frame
                    .app-raw-img-box__square
        .app-raw
            .app-raw-text
                h3.heading-grey.heading-grey__margin40 Stay in the know of what’s on and coming
                ul.dark-grey-text.list-type-square
                    li.list-type-square__item Scroll the feed to see which movies are playing now
                    li.list-type-square__item Watch trailers and descriptions of movies coming soon
                    li.list-type-square__item Use filters to pick what’s right for you
                    li.list-type-square__item Check the showtimes and choose what suits you most
                    li.list-type-square__item App will remind you about movie start through push-notifications
            .app-raw-img-box
                img.img-shadow(src="img/phone2.png", alt="")
        .app-raw
            .app-raw-text
                h3.heading-grey.heading-grey__margin40 Cool perks for an outstanding experience
                ul.dark-grey-text.list-type-square
                    li.list-type-square__item Collect points and get rewards with a loyalty program
                        span.red-text **
                    li.list-type-square__item Order and pay for snacks and drinks from the app
                        span.red-text **
                    li.list-type-square__item Ivnvite friends to a movie via iMessage app 
                        span.red-text *
            .app-raw-img-box
                img.img-shadow(src="img/phone3.png", alt="")              
    .app-section__square-left
    .app-section__square-right
    .app-section__square-center