section.cta-section
    .cta-section-item
        h4.cta-heading CATHAROUND
        p.cta-text.
            International Law Firm DEFENDETOR is a team 
            of lawyers with a top-tier global reputation 
            in international disputes and advisory matters. ...
        a.cta-button(href="#") details
    .cta-section-item
        h4.cta-heading MIlle miglia
        p.cta-text.
            International Law Firm DEFENDETOR is a team 
            of lawyers with a top-tier global reputation 
            in international disputes and advisory matters. ...
        a.cta-button(href="#") details