section.infografic-section
    .infografic-section-wrapper
        .infografic-item
            .infografic-item-raw
                .infografic-img-box
                    img(src="img/pharos.png", alt="")
                p.infografic-item__title
                    |CLIENT’S
                    br
                    |LOCATION
            p.infografic-item__subtitle KIEV / UKRAINE
        .infografic-item
            .infografic-item-raw
                .infografic-img-box
                    img(src="img/face.png", alt="")
                p.infografic-item__title 
                    |TEAM
                    br
                    |WORK
            p.infografic-item__subtitle 6 PEOPLE
        .infografic-item
            .infografic-item-raw
                .infografic-img-box
                    img(src="img/time.png", alt="")
                p.infografic-item__title timeline
            p.infografic-item__subtitle 06.2016 - Now (Support)