section.platforms-section
    .platforms-section-wrapper
        h3.heading-grey LAUNCHED ON IOS AND ANDROID PLATFORMS
        .platforms-section-raw
            a.platforms-section-link(href="#")
                img(src="img/play-market.png", alt="play-market")
            a.platforms-section-link(href="#")
                img(src="img/app-store.png", alt="app-store")
            p.dark-grey-text.platforms-section__description
                |Since its release the app has been enjoying huge 
                |success and collecting enthusiastic reviews from 
                |both iOS and Android users.
        p.remarks
            span.red-text * 
            |for iOS users      
            span.red-text **
            |coming soon
                
