.quote-section
    .quote-section-author
        .quote-section-author__avatar
            img(src="img/ava.png", alt="avatar")
        .quote-section-author-description 
            p.quote-section-author__name Max 
                br. 
                |Korkodym
            p.quote-section-author__post Head of Digital at Multiplex
    p.quote-section__quote
        |Our new mobile application does a great job engaging 
        |our customers. We see it as beautifully designed and 
        |functional tool for catering to our customer needs. 
        |We have trully enjoyed working with Interpretator team. 
        |They didn't just give us what we asked for but worked 
        |to improve the app in countless ways. I wouldn't hesitate 
        |to work with them in future.
    .quote-section__square
        
        