section.screenshots-section
    img.screenshots-img(src="img/phones-bg.png", alt="phones")
    .screenshots-section__square-xxs
    .screenshots-section__square-l
    .screenshots-section__square-s
    .screenshots-section__square-m
    .screenshots-section__square-l-2