section.slider-section
    .slider-section-wrapper
        .slider
            .slide
                .slide-left-part
                    h3.heading-grey TECHNOLOGIES
                    .slide-img-container
                        .img-box
                            img.slider-img(src="img/swift.png", alt="")
                            p Swift
                        .img-box
                            img.slider-img(src="img/kotlin.png", alt="")
                            p Kotlin
                        .img-box
                            img.slider-img(src="img/sketch.png", alt="")
                            p Sketch
                .slide-right-part
                    h3.heading-grey INVOLVEMENT
                    .slide-img-container
                        .img-box
                            img.slider-img(src="img/design.png", alt="")
                            p.text-left 
                                |Grafical 
                                br
                                |Design
                        .img-box
                            img.slider-img(src="img/mobile-dev.png", alt="")
                            p Mobile Dev
        .slider-nav
            button.slider-nav__button#previous 
                include ../img/left-arrow.svg
                |Previous
            button.slider-nav__button View all
            button.slider-nav__button#next 
                |Next                        
                include ../img/right-arrow.svg