section.title-section
    header.header
        .header-wrapper
            .header-logo-box
                img.header__logo(src="img/Logo.png", alt="")
            nav.header-menu-wrapper
                ul.menu
                    li.menu-item
                        span.menu__icon
                            img(src="img/icon1.png", alt="")
                        a.menu__link(href="#") Works
                    li.menu-item
                        span.menu__icon
                            img(src="img/icon2.png", alt="")                                    
                        a.menu__link(href="#") Carier
                    li.menu-item--frame
                        span.menu__icon__hire
                            img(src="img/icon3.png", alt="")                                    
                        a.menu__link.menu__link__center(href="#") Hire us
    .title-section__square-xl
    .title-section__square-l
    .title-section__square-s-filled
    .title-section__square-xs-filled
    .title-section__square-m-filled
    