<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="css/style.css")
        title Multiplex
    body
        include pug/title-section
        include pug/statistic-section
        include pug/screenshots-section
        include pug/app-section
        include pug/quote-section
        include pug/platforms-section
        include pug/infografic-section
        include pug/slider-section
        include pug/cta-section
        include pug/footer
        script(src="js/main.js")
        //- script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
        //- script(type="text/javascript" src="js/slick/slick.min.js")
        //- script.
            $(document).ready(function(){
            $('.slider').slick({
            infinite: true,
            prevArrow: $('#previous'),
            nextArrow: $('#next')
            });
            });
        